.double-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
}

.grounded {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}