.triple-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
}

@media (max-width: 700px) {
    .triple-column {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content) repeat(3, 1fr);
    }

}

.grounded {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.rotate-90-hover {
    /*transform: rotate(0);*/
    transition: transform 0.5s ease-in-out;
}

.rotate-90-hover:hover {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}