.triple-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
}


.recipes {
    display: grid;
    grid-template-rows: 0 1fr;
    grid-template-columns: 1fr;
}

@media (max-width: 768px) {
    .triple-column {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content) 1fr min-content 1fr;
    }

    .recipes {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr;
    }

    .triple-column.show-results {
        display: block;
    }

    .triple-column > *:last-child {
        display: none;
    }

    .triple-column.show-results > * {
        display: none!important;
    }

    .triple-column.show-results > *:last-child {
        display: grid!important;
        height: 100%;
    }


}

.grounded {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.rotate-90-hover {
    /*transform: rotate(0);*/
    transition: transform 0.5s ease-in-out;
}

.rotate-90-hover:hover {
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}