/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.page-layout {
  display: grid;
  grid-template-rows: min-content auto;
  height: 100%;
}

.page {
  height: 100%;
}

.html, .body {
  height: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.food-list-item {
  cursor: pointer !important;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
}
